.idea
*key.json
.coverage
.venv
venv
local.env
*__pycache__
build/gcp-storage-emulator/data/bucket/*
!build/gcp-storage-emulator/data/bucket/.placeholder
build/gcp-storage-emulator/data/.meta
build/firebase-emulator/*.log
.DS_Store