version: "2.1"

services:
  storage:
    image: oittaa/gcp-storage-emulator
    environment:
      - PORT=9023
    ports:
      - 9023:9023
    volumes:
      - ./devtools/gcp-storage-emulator/data:/storage
    container_name: storage-sds
  api:
    build:
      context: .
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - STORAGE_EMULATOR_HOST=http://storage:9023
      - FIRESTORE_EMULATOR_HOST=firestore:8080
      - FIRESTORE_PROJECT_ID=mock-project-id
      - SCHEMA_BUCKET_NAME=schema_bucket
      - GOOGLE_APPLICATION_CREDENTIALS=/devtools/mock_firebase_key.json
    volumes:
      - ./src/app:/src
      - ./devtools:/devtools
    restart: on-failure
    depends_on:
      - firestore
      - storage
    container_name: api-sds
  firestore:
    image: spine3/firebase-emulator
    ports:
      - 8080:8080
      - 4000:4000
    environment:
      - GCP_PROJECT=mock-project-id
      - ENABLE_UI=true
    volumes:
      - ./devtools/firebase-emulator:/firebase
      - ./devtools/firebase-emulator:/firebase/baseline-data
    container_name: firestore-sds