version: "2.1"

services:
  storage:
    image: oittaa/gcp-storage-emulator
    environment:
      - PORT=9023
    ports:
      - 9023:9023
    volumes:
      - ./devtools/gcp-storage-emulator/data:/storage
    container_name: storage-sds
  api:
    build:
      context: .
      dockerfile: Dockerfile.develop
    ports:
      - 3033:3033
    environment:
      - PORT=3033
      - CONF=docker-dev
      - STORAGE_EMULATOR_HOST=http://storage:9023
      - FIRESTORE_EMULATOR_HOST=firestore:8080
      - PUBSUB_EMULATOR_HOST=firestore:8085
      - FIRESTORE_PROJECT_ID=mock-project-id
      - SCHEMA_BUCKET_NAME=schema_bucket
      - DATASET_BUCKET_NAME=dataset_bucket
      - API_URL=http://cloudfunction-new_dataset:8080
      - LOG_LEVEL=DEBUG
      - AUTODELETE_DATASET_BUCKET_FILE=True
      - RETAIN_DATASET_FIRESTORE=True
      - PROJECT_ID=mock-project-id
      - PUBLISH_SCHEMA_TOPIC_ID=ons-sds-publish-schema
      - PUBLISH_DATASET_TOPIC_ID=ons-sds-publish-dataset
      - SURVEY_MAP_URL=https://api.github.com/repos/ONSdigital/sds-schema-definitions/contents/mapping/survey_map.json
    volumes:
      - ./src/app:/src
      - ./devtools:/devtools
    restart: on-failure
    depends_on:
      - firestore
      - storage
    container_name: api-sds
  firestore:
    image: spine3/firebase-emulator
    ports:
      - 8080:8080
      - 4001:4001
      - 8085:8085
    environment:
      - GCP_PROJECT=mock-project-id
      - ENABLE_UI=true
    volumes:
      - ./devtools/firebase-emulator:/firebase
      - ./devtools/firebase-emulator:/firebase/baseline-data
    container_name: firestore-sds
  cloudfunction-new_dataset:
    build:
      context: .
      dockerfile: ./devtools/cloudfunction_new_dataset.Dockerfile
    ports:
      - 3005:8080
    restart: on-failure
    environment:
      - CONF=docker-dev
      - SCHEMA_BUCKET_NAME=schema_bucket
      - STORAGE_EMULATOR_HOST=http://storage:9023
      - FIRESTORE_EMULATOR_HOST=firestore:8080
      - PUBSUB_EMULATOR_HOST=firestore:8085
      - FIRESTORE_PROJECT_ID=mock-project-id
      - PUBSUB_PROJECT_ID=mock-project-id
      - DATASET_BUCKET_NAME=dataset_bucket
      - AUTODELETE_DATASET_BUCKET_FILE=True
      - RETAIN_DATASET_FIRESTORE=True
      - LOG_LEVEL=DEBUG
      - PROJECT_ID=mock-project-id
      - PUBLISH_SCHEMA_TOPIC_ID=ons-sds-publish-schema
      - PUBLISH_DATASET_TOPIC_ID=ons-sds-publish-dataset
      - SURVEY_MAP_URL=https://api.github.com/repos/ONSdigital/sds-schema-definitions/contents/mapping/survey_map.json
    volumes:
      - ./devtools:/devtools
    container_name: cloudfunction-new_dataset-sds
  dev-publish-dataset:
    build:
      context: ./devtools/dataset-publisher
    ports:
      - 3006:8080
    restart: on-failure
    environment:
      - STORAGE_EMULATOR_HOST=http://storage:9023
      - FIRESTORE_EMULATOR_HOST=firestore:8080
      - FIRESTORE_PROJECT_ID=mock-project-id
      - PUBSUB_EMULATOR_HOST=firestore:8085
      - DATASET_BUCKET_NAME=dataset_bucket
      - SCHEMA_BUCKET_NAME=schema_bucket
      - AUTODELETE_DATASET_BUCKET_FILE=True
      - RETAIN_DATASET_FIRESTORE=True
      - LOG_LEVEL=DEBUG
      - PROJECT_ID=mock-project-id
      - PUBLISH_SCHEMA_TOPIC_ID=ons-sds-publish-schema
      - PUBLISH_DATASET_TOPIC_ID=ons-sds-publish-dataset
      - SURVEY_MAP_URL=https://api.github.com/repos/ONSdigital/sds-schema-definitions/contents/mapping/survey_map.json
    volumes:
      - ./devtools:/devtools
    container_name: dev-publish-dataset-sds
