swagger: '2.0'
info:
  version: 1.0.0
  title: Supplementary Data Service (SDS)
  description: API gateway for SDS
schemes:
  - https
securityDefinitions:
  UserSecurity:
    type: basic
security:
  - UserSecurity: []
paths:
  /v1/unit_data:
    get:
      description: GET method that returns the unit supplementary data corresponding to the given dataset_id and unit_id.
      parameters:
        - name: dataset_id
          in: query
          required: true
          type: string
          x-example: 5eb3a2a9-9d07-47a9-9df7-0425ed289060
        - name: unit_id
          in: query
          required: true
          type: string
          x-example: 43552 
      responses:
        200:
          description: Succesfully retrieved unit supplementary data
          schema:
            type: object
            properties:
              survey_id:
                type: string
                example: NRX
              data:
                type: object
                properties:
                  local_unit:
                    type: object
                    properties:
                      luname:
                        type: string
                        example: Maps Factory
                      identifier:
                        type: string
                        example: 20127364B
                  identifier:
                    type: string
                    example: 43532
                  runame:
                    type: string
                    example: Pipes and Maps Ltd
              period_id:
                type: string
                example: ttt
              dataset_id:
                type: string
                example: 4e7626f5-afa6-4d3f-8310-8c0444dd1a9e
              schema_version:
                type: string
                example: v1.0.0
              form_types:
                type: array
                items:
                  type: string
                example: ["klk", "xyz", "tzr"]
        400:
          description: Bad request
          schema:
            type: object
            properties:
              status:
                type: string
                example: 400
              message:
                type: string
                example: Validation has failed
            required:
              - status
              - message
        404:
          description: Item not found
          schema:
            type: object
            properties:
              status:
                type: string
                example: 404
              message:
                type: string
                example: No unit data found
            required:
              - status
              - message
        500:
          description: Internal error
          schema:
            type: object
            properties:
              status:
                type: string
                example: 500
              message:
                type: string
                example: Unable to process request
            required:
              - status
              - message
  /v1/schema:
    post:
      description: POST endpoint to create a schema
      parameters:
        - name: schema
          in: body
          required: true
          schema:
            $ref: "#/definitions/sds_schema"
        - name: survey_id
          in: query
          required: true
          type: string
          x-example: "068"
      responses:
        200:
          description: Successfuly submitted schema
          schema:
            $ref: "#/definitions/sds_schema_metadata"
        400:
          description: Schema validation failed
          schema:
            type: object
            properties:
              status:
                type: string
                example: 400
              message:
                type: string
                example: Validation has failed
            required:
              - status
              - message
        500:
          description: Internal error
          schema:
            type: object
            properties:
              status:
                type: string
                example: 500
              message:
                type: string
                example: Unable to process request
            required:
              - status
              - message
    get:
      description: GET method that returns the schema corresponding to the given survey_id and version. The schema of latest version is returned if version is omitted.
      parameters:
        - name: survey_id
          in: query
          type: string
          required: true
        - name: version
          in: query
          type: string
      responses:
        200:
          description: Succesfully retrieved schema
          schema:
            $ref: "#/definitions/sds_schema"
        400:
          description: Invalid version provided
          schema:
            type: object
            properties:
              status:
                type: string
                example: 400
              message:
                type: string
                example: Validation has failed
            required:
              - status
              - message
        404:
          description: No schema found
          schema:
            type: object
            properties:
              status:
                type: string
                example: 404
              message:
                type: string
                example: No schema found
            required:
              - status
              - message
        500:
          description: Internal error
          schema:
            type: object
            properties:
              status:
                type: string
                example: 500
              message:
                type: string
                example: Unable to process request
            required:
              - status
              - message

  /v1/schema_metadata:
    get:
      description: GET method that returns the schema metadata corresponding to the given survey_id.
      parameters:
        - name: survey_id
          in: query
          type: string
          required: true
      responses:
        200:
          description: Sucessfully retrieved schema metadata
          schema:
            $ref: "#/definitions/sds_schema_metadata"
        400:
          description: Incorrect key 
          schema:
            type: object
            properties:
              status:
                type: string
                example: 400
              message:
                type: string
                example: Validation has failed
            required:
              - status
              - message
        404:
          description: No results found 
          schema:
            type: object
            properties:
              status:
                type: string
                example: 404
              message:
                type: string
                example: No results found
            required:
              - status
              - message
        500:
          description: Internal error
          schema:
            type: object
            properties:
              status:
                type: string
                example: 500
              message:
                type: string
                example: Unable to process request
            required:
              - status
              - message

  /v1/dataset_metadata:
    get:
      description: GET method that returns the dataset metadata corresponding to the given survey_id and period_id.
      parameters:
        - name: survey_id
          in: query
          type: string
          required: true
        - name: period_id
          in: query
          type: string
          required: true
      responses:
        200:
          description: Successfully retrieved dataset metadata
          schema:
            $ref: "#/definitions/sds_dataset_metadata"
        400:
          description: Incorrect key names
          schema:
            type: object
            properties:
              status:
                type: string
                example: 400
              message:
                type: string
                example: Validation has failed
            required:
              - status
              - message
        404:
          description: No dataset found
          schema:
            type: object
            properties:
              status:
                type: string
                example: 404
              message:
                type: string
                example: No dataset found
            required:
              - status
              - message
        500:
          description: Internal error
          schema:
            type: object
            properties:
              status:
                type: string
                example: 500
              message:
                type: string
                example: Unable to process request
            required:
              - status
              - message"

definitions:
  sds_schema_metadata:
    type: object
    properties:
      guid:
        type: string
        example: 9e1222b0-63a1-4bdf-bdf5-922327ff3198
      survey_id:
        type: string
        example: 068
      schema_location:
        type: string
        example: 068/9e1222b0-63a1-4bdf-bdf5-922327ff3198.json
      sds_schema_version:
        type: string
        example: 1
      sds_published_at:
        type: string
        example: 2023-05-05T08:18:07Z
      schema_version:
        type: string
        example: v1
  sds_dataset_metadata:
    type: array
    items: 
      type: object
      properties: 
        survey_id: 
          type: string
          example: NRX
        period_id: 
          type: string
          example: ttt
        form_types:
          type: array
          items:
            type: string
          example: ["klk", "xyz", "tzr"]
        title: 
          type: string
          example: Which side was better?
        sds_published_at: 
          type: string
          format: date-time
          example: 2023-05-04T14:35:05Z
        total_reporting_units: 
          type: integer
          format: int32
          example: 2
        schema_version: 
          type: string
          example: v1.0.0
        sds_dataset_version: 
          type: integer
          format: int32
          example: 1
        filename: 
          type: string
          example: 0d5adee0-c91b-4aeb-9e1c-bfa3b1cdf0a6.json
        dataset_id: 
          type: string
          example: 4e7626f5-afa6-4d3f-8310-8c0444dd1a9e
  sds_schema:
    type: object
    properties:
      $schema:
        type: string
        example: https://json-schema.org/draft/2020-12/schema
      $id: 
        type: string
        example: roofing_tiles_and_slate.json
      title: 
        type: string
        example: SDS schema for the Roofing Tiles + Slate survey
      properties:
        type: object
        properties:
          schema_version:
            type: object
            properties:
              const: 
                type: string
                example: v1
              description: 
                type: string
                example: Version of the schema spec
          identifier:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The unique top-level identifier. This is the reporting unit reference without the check letter appended
              minLength:
                type: integer
                example: 11
              pattern:
                type: string
                example: ^[a-zA-Z0-9]+$
              examples:
                type: array
                items:
                  type: string
                example: ["34942807969"]
          items: 
            type: object
            properties: 
              type: 
                type: string
                example: object
              properties: 
                type: object
                properties:
                  local_units:
                    type: object
                    properties:
                      type:
                        type: string
                        example: array
                      description:
                        type: string
                        example: The data about each item
                      minItems:
                        type: integer
                        example: 1
                      uniqueItems:
                        type: boolean
                        example: true
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              identifier: 
                                type: object
                                properties: 
                                  type: 
                                    type: string
                                    example: string
                                  minLength:
                                    type: integer
                                    example: 1
                                  description:
                                    type: string
                                    example: The unique identifier for the items. This is the local unit reference.
                                  examples:
                                    type: array
                                    items:
                                      type: string
                                    example: ["3340224"]
                              lu_name: 
                                type: object
                                properties: 
                                  type: 
                                    type: string
                                    example: string
                                  minLength:
                                    type: integer
                                    example: 1
                                  description: 
                                    type: string
                                    example: Name of the local unit
                                  examples:
                                    type: array
                                    items:
                                      type: string
                                    example: ["STUBBS BUILDING PRODUCTS LTD"]
                              lu_address: 
                                type: object
                                properties: 
                                  type: 
                                    type: string
                                    example: array
                                  description: 
                                    type: string
                                    example: The fields of the address for the local unit
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: string
                                      minLength:
                                        type: integer
                                        example: 1
                                  minItems:
                                    type: integer
                                    example: 1
                                  uniqueItems:
                                    type: boolean
                                    example: true
                                  examples:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        type: string
                                      example: ["WELLINGTON ROAD", "LOCHMABEN", "SWINDON", "BEDS", "GLOS", "DE41 2WA"]
                          additionalProperties:
                            type: boolean
                            example: false
                          required:
                            type: array
                            items:
                              type: string
                            example: ["identifier", "lu_name", "lu_address"]
              additionalProperties:
                type: boolean
                example: false
              required:
                type: array
                items:
                  type: string
                example: ["local_units"]
      additionalProperties:
        type: boolean
        example: false
      required:
        type: array
        items:
          type: string
        example: ["schema_version", "identifier", "items"]
