components:
  schemas:
    DatasetMetadata:
      properties:
        dataset_id:
          title: Dataset Id
          type: string
        filename:
          title: Filename
          type: string
        form_types:
          items:
            type: string
          title: Form Types
          type: array
        period_id:
          title: Period Id
          type: string
        schema_version:
          title: Schema Version
          type: string
        sds_dataset_version:
          title: Sds Dataset Version
          type: integer
        sds_published_at:
          title: Sds Published At
          type: string
        survey_id:
          title: Survey Id
          type: string
        title:
          title: Title
          type: string
        total_reporting_units:
          title: Total Reporting Units
          type: integer
      required:
      - survey_id
      - period_id
      - form_types
      - title
      - sds_published_at
      - total_reporting_units
      - schema_version
      - sds_dataset_version
      - filename
      - dataset_id
      title: DatasetMetadata
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    SchemaMetadata:
      properties:
        guid:
          title: Guid
          type: string
        schema_location:
          title: Schema Location
          type: string
        schema_version:
          title: Schema Version
          type: string
        sds_published_at:
          title: Sds Published At
          type: string
        sds_schema_version:
          title: Sds Schema Version
          type: integer
        survey_id:
          title: Survey Id
          type: string
      required:
      - survey_id
      - schema_location
      - sds_schema_version
      - sds_published_at
      - schema_version
      - guid
      title: SchemaMetadata
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
info:
  description: Open api schema for SDS
  title: Supplementary Data Service
  version: 1.0.0
openapi: 3.0.2
paths:
  /v1/dataset_metadata:
    get:
      description: 'Retrieve the matching dataset metadata, given the survey_id and
        period_id.


        Parameters:

        survey_id (str): The survey id of the dataset being queried.

        period_id (str): The period id of the dataset being queried.'
      operationId: get_dataset_metadata_collection_v1_dataset_metadata_get
      parameters:
      - in: query
        name: survey_id
        required: false
        schema:
          title: Survey Id
          type: string
      - in: query
        name: period_id
        required: false
        schema:
          title: Period Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DatasetMetadata'
                title: Response Get Dataset Metadata Collection V1 Dataset Metadata
                  Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Dataset Metadata Collection
  /v1/schema:
    get:
      description: "Gets the filename of the bucket schema metadata and uses that\
        \ to retrieve the schema metadata\nwith specific survey id and version from\
        \ the bucket. Latest version schema will be retrieved\nif version is omitted\n\
        \nParameters:\nsurvey_id (str): survey id of the schema metadata.\nversion\
        \ (str) (optional): version of the survey.\nschema_firebase_repository (SchemaFirebaseRepository):\
        \ injected dependency for\n    interacting with the schema collection in firestore."
      operationId: get_schema_from_bucket_v1_schema_get
      parameters:
      - in: query
        name: survey_id
        required: true
        schema:
          title: Survey Id
          type: string
      - in: query
        name: version
        required: false
        schema:
          title: Version
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Get Schema From Bucket V1 Schema Get
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Schema From Bucket
    post:
      description: 'Posts the schema metadata to be processed.


        Parameters:

        schema (dict): schema to be processed in JSON format.

        schema_processor_service (SchemaProcessorService): injected processor service
        for processing the schema.'
      operationId: post_schema_v1_schema_post
      parameters:
      - in: query
        name: survey_id
        required: true
        schema:
          title: Survey Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: Schema
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaMetadata'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Post Schema
  /v1/schema_metadata:
    get:
      description: 'Get all schema metadata associated with a specific survey id.


        Parameters:

        survey_id (str): survey id of the collection

        schema_processor_service (SchemaProcessorService): injected dependency for
        processing the metadata collection.'
      operationId: get_schema_metadata_collection_v1_schema_metadata_get
      parameters:
      - in: query
        name: survey_id
        required: false
        schema:
          title: Survey Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SchemaMetadata'
                title: Response Get Schema Metadata Collection V1 Schema Metadata
                  Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Schema Metadata Collection
  /v1/unit_data:
    get:
      description: 'Retrieve supplementary data for a particular unit given the dataset
        id and unit id, return 404 if no data is returned.


        Parameters:

        dataset_id (str): The unique id of the dataset being queried.

        unit_id (str): The unit id of the particular unit on the data being queried.'
      operationId: get_unit_supplementary_data_v1_unit_data_get
      parameters:
      - in: query
        name: dataset_id
        required: true
        schema:
          title: Dataset Id
          type: string
      - in: query
        name: unit_id
        required: true
        schema:
          title: Unit Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Unit Supplementary Data
