name: Lint and tests

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint
        run: |
          export PYTHONPATH=src/app
          black src --check
          isort src --check-only --profile black
          flake8 src  --max-line-length=127
      - name: Test with pytest
        run: |
          pytest --cov=src/app src/unit_tests
          coverage report --fail-under=90