name: Lint and tests

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Stand up Firestore container
        run: |
          docker-compose -f "docker-compose.yml" up -d firestore
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
#      - name: Lint
#        run: |
#          export PYTHONPATH=src
#          black . --check
#          isort . --check-only --profile black
#          flake8 .  --max-line-length=127
#      - name: Unit tests
#        run: |
#          pytest --cov=src src
#          coverage report --fail-under=90
      - name: Integration tests
        run: |
          export PYTHONPATH=src
          export FIRESTORE_EMULATOR_HOST=localhost:8200
          export FIRESTORE_PROJECT_ID=localhost
          export GOOGLE_APPLICATION_CREDENTIALS=google_application_credentials.json
          export FIREBASE_KEYFILE_LOCATION=firebase_key.json
          pytest test/integration
