name: Lint and tests

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Stand up Firestore container
        run: docker-compose -f "docker-compose.yml" up -d firestore
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint
        run: |
          export PYTHONPATH=src
          black . --check
          isort . --check-only --profile black
          flake8 .  --max-line-length=127
      - name: Test with pytest
        run: |
          pytest --cov=src src
          coverage report --fail-under=90