name: Release Workflow

on:
  push:
    tags:
      #- 'v*' #Match tags starting with 'v' (PreProd)
      #- 'release-v*' #Match tags starting with 'release-v' (Prod)
      - 'testing-v*' #For testing

jobs:
  docker-push:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v3

        - name: Check If It's a Release
          id: is_release
          run: |
            if [[ "${{github.event_name }}" != "push" || "${{github.ref_type }}" != "tag" ]]; then
            echo "This is not a release."
            exit 1
            fi
          #if: startsWith(github.ref, 'refs/tags/') && github.ref == 'refs/heads/main'
          if: startsWith(github.ref, 'refs/tags/')

        - name: Get Release Tag
          id: get_release_tag
          run: echo "Release Tag ${{ github.ref }}"
          if: steps.is_release.outputs.result == 'success'

        - name: Extract Tag Name
          id: extract_tag_name
          run: echo "Tag Name ${GITHUB_REF##*/}" #This extracts tag name from the full reference.
          shell: bash
          if: steps.is_release.outputs.result == 'success'

        - name: Set Tag Name variable
          run: |
            TAG_NAME="${{ steps.extract_tag_name.outputs.stdout }}"
          if: steps.is_release.outputs.result == 'success'

        - name: Write app version
          run: printf "$GITHUB_SHA" > .application-version
        - name: Build
          run: >
            docker build -t onsdigital/sds:$TAG_NAME .
          if: steps.is_release.outputs.result == 'success'
        - name: Push to Docker Hub
          run: |
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            echo "Pushing with tag [$TAG_NAME]"
            docker push onsdigital/sds:$TAG_NAME
          if: steps.is_release.outputs.result == 'success'
