name: Release Workflow

on:
  release:
    types: [created]

jobs:
  docker-push:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v3

        - name: Check the tags
          id: is_proper_tags
          run: |
            if [[ "${{github.ref_name }}" != "release-v*" || "${{github.ref_type }}" != "testing-v*" ]]; then
            echo "Unknown tags used. DockerHub build is aborted."
            exit 1
            fi
        - name: Write app version
          run: printf "$GITHUB_SHA" > .application-version
          if: steps.is_proper_tags.outcome == 'success'
        - name: Build
          run: >
            docker build -t onsdigital/sds:${{github.ref_name}} .
          if: steps.is_proper_tags.outcome == 'success'
        - name: Push to Docker Hub
          run: |
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            echo "Pushing with tag [${{github.ref_name}}]"
            docker push onsdigital/sds:${{github.ref_name}}
          if: steps.is_proper_tags.outcome == 'success'
