
---
    name: CI
    
    on: # yamllint disable-line rule:truthy
      push:
        branches: [main]
      pull_request:
        branches: [main]
    
    concurrency:
      group: "${{ github.head_ref || github.ref_name }}-${{ github.workflow }}"
      cancel-in-progress: true
    
    jobs:
      lint-test:
        name: Lint and Test
        runs-on: ubuntu-22.04
        steps:
          - uses: actions/checkout@v4
    
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version-file: pyproject.toml
    
          - name: Install dependencies
            run: make setup
    
          - name: Lint Python
            run: make lint
    
          - name: Test
            run: make unit-test